{% extends "base.html" %}
{% block content %}
    <section class="story-section">
        <div class="bg-image">
            <img src="/static/img/home1.jpg" class="bg-image__content" alt="photo">
        </div>
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
           About Us!!
        </h2>
        <p>IL Rifugio is an endeavour of us students to provide people with mental health issues a safe space to talk about their troubles and issues. In a career oriented society, where every person’s worth is decided by how much he/she can contribute to the advancement and success of their careers, while keeping their health at stake, this is our effort to provide the people with a platform where they can ask for help and hence take a turn towards a better, happier and healthier life.
            In IL Rifugio, we aim to create a safe space where people can be free to talk about their mental health concerns and issues without the fear of being isolated or judged. We aim to be a platform that aims to help people who need help and also educate other people about the various obstacles that these people face.
            Here we connect you to professional doctors and therapists who have a lot of experience in helping people with mental health issues. We also connect you to other people who have successfully handled situations which some people might not know how to deal with.</p>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
              <img src="/static/img/om8.jpeg" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Om Sinha</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary .u-margin-bottom-small ">Backend Dev</h3>
                <p>
                    <a href="https://github.com/Omsinha017"><i class="fa fa-github" style="font-size:36px;padding-left: 1rem;color:#777"></i></a>
                    <a href="https://www.instagram.com/om_sinha017/"><i class="fa fa-instagram" style="font-size:36px;padding-left: 1rem;color:#777"></i></a>
                </p>
                <p style="font-size: 20px;">Given his relative knowledge in the discipline of Web Development, he has worked on the backend functionlaity of this website.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
              <img src="/static/img/nidhi.jpeg" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Nidhi Sinha</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary .u-margin-bottom-small ">Frontend Dev</h3>
                <p>
                    <a href="https://github.com/nidhi2504"><i class="fa fa-github" style="font-size:36px;padding-left: 1rem;color:#777"></i></a>
                    <a href="https://www.instagram.com/nidhi_sinha2504/"><i class="fa fa-instagram" style="font-size:36px;padding-left: 1rem;color:#777"></i></a>
                </p>
                <p style="font-size: 20px;">Given her relative knowledge in the discipline of Web Development, She has designed the outlook of this website.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
              <img src="/static/img/deepa2.jpeg" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Deepa Benny</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary .u-margin-bottom-small ">Frontend Dev</h3>
                <p>
                    <a href="https://github.com/DEEPABENNY-1111"><i class="fa fa-github" style="font-size:36px;padding-left: 1rem;color:#777"></i></a>
                    <a href="https://www.instagram.com/seraphinadaphne"><i class="fa fa-instagram" style="font-size:36px;padding-left: 1rem;color:#777"></i></a>
                </p>
                <p style="font-size: 20px;">Given her relative knowledge in the discipline of Web Development, She has worked on the designing and backend functionality of this website.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
