{% extends "base.html" %}
{% block styling %}
<style>
  input[type=text],input[type="email"],input[type="tel"], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  color: #999;
  font-size: 16px;
  border-radius: 30px;
  box-sizing: border-box;
  background: transparent;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


textarea{
  resize: none;
}

body{
    background-image: linear-gradient(to right bottom,#d699ff,#7a00cc);
    height: 97.2vh;
}

.contactbox{
    width: 90%;
    height: 92vh;
    box-shadow: 0 3rem 6rem rgba(#000,.7);
    opacity: .75;
    background: white;
    color: #999;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 250px;
    border-radius: 30px;
}

   @media only screen and (max-width: 300px) {   
  .contactbox{
      width: 70%;
      height: 50vh;
  }
  input[type=text],input[type="email"],input[type="tel"], textarea {
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 600px) {   
  .contactbox{
      width: 80%;
      height: 50vh;
  }
  input[type=text],input[type="email"],input[type="tel"], textarea {
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
}


h3{
    margin: 0;
    padding: 0 0;
    text-align: center;
    font-size: 35px;
}

.contactbox p{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.contactbox button[type="submit"]
{
   /* margin-top: 10px; */
    border: none;
    width: 100px;
    outline: none;
    height: 35px;
    background-image: linear-gradient(to right bottom,#d699ff,#7a00cc);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.contactbox button[type="submit"]:hover
{
    cursor: pointer;
    background: #ad33ff;
    color: #fff;
}
</style>
{% endblock %}
{% block content %}

<div class="contactbox">
<h3>Contact Admin!!</h3>
<form method="POST">
{% csrf_token %}
    <label for="name">Enter Name :</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name">

    <label for="email">Email address :</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    <p id="emailHelp" style="font-size: 15px;">We'll never share your email with anyone else.</p>

    <label for="phone">Phone Number :</label>
    <input type="tel" class="form-control" id="phone" name="phone">

    <label for="content">Describe your issue :</label>
    <textarea class="label-text" name="content" id="content" cols="30" rows="5"></textarea>

  <button type="submit">Submit</button>
</form>
</div>

{% endblock content %}
