{% extends "base.html" %}
{% block styling %}
<style>
  form.example input[type=search] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ad33ff;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #7a00cc;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
{% endblock %}
{% block content %}
<section class="all-post">
  <div class="bg-image">
      <img src="/static/img/home1.jpg" class="bg-image__content" alt="photo">
  </div>
  <div class="u-center-text u-margin-bottom-big">
    <div>
      <a href="{% url 'Home:search_home' %}" id="site_logo"></a><img src="/static/img/Logo.svg" alt="Logo" style="height:170px;"></a>
  </div></div>
    
    <form action="/search" class="example" style="margin:auto;max-width:300px;padding-bottom: 143px;">
      <input type="search" placeholder="Search..." aria-label="Search" name="query" id="query">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>
{% endblock %}

