{% extends "posts/post_base.html" %}
{% block post_content %}

<section class="all-post">
    <div class="bg-image">
        <img src="/static/img/home1.jpg" class="bg-image__content" alt="photo">
    </div>
    <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Searched Results</h2></div>

    {% if post|length < 1 %}
    <div style="text-align: center;">
   <p>No search results</p>
    Your search query : <b>{{query}}</b> did not match any documents. <br>
    Suggestions:
    <ul style="list-style: none;">
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
</ul>
</div>
    {% endif %}

    {% for post in post  %}
    <div class="row">
        <div class="post-one">
            <h3 class="heading-post">Article  by {{post.author}}</h3>
            <h3 class="heading-title">{{ post.title }}</h3>
            <div class="text">{{ post.created_at }}</div>
            <p class="text-post">{{post.content| truncatechars:200}}</p>
            <div class="more-link">
            	<a href="/posts/r/{{ post.slug }}" role="button" class="links">Continue reading</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
