{% extends "posts/post_base.html" %}
{% block post_content %}
<section class="all-post">
	<div class="bg-image">
        <img src="/static/img/home1.jpg" class="bg-image__content" alt="photo">
    </div>
	<h1 class="heading-name">Hello! {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h1>
	{% for post in posts %}
	<div class="row">
			<div class="post-one">
				<h3 class="heading-post">{{ post.user.username }}</h3>
					<div class="text">{{ post.created_at }}</div>
				<p class="text-post">{{ post.content }}</p>
						<a href="{% url 'posts:delete' id=post.sno %}" title="delete">
							<span  aria-hidden="true"></span>
							<span class="links-two">Delete</span>
						</a>
						<a href="{% url 'posts:all' %}" class="links-two">Cancel</a>
			</div>
		</div>
	{% endfor %}
</section>
{% endblock %}
